*{
    margin: 0;
    padding: 0;
}

.generaldiv {
    width: 100%;
    height: 100vh;
    background-image: url("../../img/dogoback.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
.dogo {
    width: 30rem;
    position: absolute;
    bottom: -25%;
    left: 0%;
}
.sliders{
    width: 100%;
    position: absolute;
    top: 50%;
}
.backtext{
    position: absolute;
    left: 2%;
    top: 3%;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

.backtoimg{
    width: 10%;
    position: absolute;
    left: 10%;
    top: 10%;
}